<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcKD0Fp4aj-JfDFzHFzu_o-DrRWWseDFk</string>
	<key>GCM_SENDER_ID</key>
	<string>760850652808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdfs4thGrade</string>
	<key>PROJECT_ID</key>
	<string>aquila-pdfs</string>
	<key>STORAGE_BUCKET</key>
	<string>aquila-pdfs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760850652808:ios:4d76a0841b0a40a837c93d</string>
</dict>
</plist>